[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
collections_path     = ./collections:~/.ansible/collections
vault_password_file  = .vault_pass
host_key_checking    = False
retry_files_enabled  = False
gathering            = explicit
forks                = 10
timeout              = 60
stdout_callback      = default
callback_result_format = yaml
callbacks_enabled    = profile_tasks, timer
interpreter_python   = auto_silent
log_path             = logs/ansible.log

[persistent_connection]
connect_timeout      = 60
connect_retry_timeout = 30
command_timeout      = 120
